@import "tailwindcss";

.bg-desert-sand {
    background-color: #F87060;
}

.bg-dark-blue {
    background-color: #102542
}

.text-desert-sand {
    color: #F87060;
}

.text-dark-blue {
    color: #102542
}